flask>=1.1
flask_restful
flask_script
flask_migrate
marshmallow
flask_sqlalchemy
flask_marshmallow
marshmallow-sqlalchemy
pylint
pytest
pytest-flask
pytest-datafiles
pytest-randomly
flake8
flake8-docstrings
flake8-blind-except
flake8-builtins
flake8-per-file-ignores
